body {
    background: #000;
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: white;
    font-family: sans-serif;
}

.glitch {
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    /* all in one with small offsets to let the colors bleed through 
    IMPORTANT: using em will allow the text to be responsive to the text size*/
    text-shadow: 
        0.05em 0 0 rgb(255, 0, 0, .75),
        -0.05em 0 0 rgb(0, 255, 0, .75),
        0.025em 0 0 rgb(0, 0, 255, .75);
    
    animation: glitch 2000ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child{
    animation: glitch 1000ms infinite;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-.0015em, -0.025em);
}

.glitch span:last-child {
    animation: glitch 1500ms infinite;
    z-index: 20;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(-.05em, -0.025em);
}

@keyframes glitch {
    0% {
        text-shadow: 
        0.05em 0 0 rgb(255, 0, 0, .75),
        -0.015em 0 0 rgb(0, 255, 0, .75),
        0.025em 0 0 rgb(0, 0, 255, .75);
        }
    24% {
        text-shadow: 
        0.05em 0 0 rgb(255, 0, 0, .75),
        -0.045em 0 0 rgb(0, 255, 0, .75),
        0.025em 0 0 rgb(0, 0, 255, .75);
        }
    25% {
        text-shadow: 
        0.012em 0 0 rgb(255, 0, 0, .75),
        -0.025em -0.025em 0 rgb(0, 255, 0, .75),
        0.045em 0 0 rgb(0, 0, 255, .75);
        }
    49% {
        text-shadow: 
        0.012em 0 0 rgb(255, 0, 0, .75),
        -0.025em -0.025em 0 rgb(0, 255, 0, .75),
        0.045em 0 0 rgb(0, 0, 255, .75);
        }
    50% {
        text-shadow: 
        0.064em 0 0 rgb(255, 0, 0, .75),
        -0.015em -0.045em 0 rgb(0, 255, 0, .75),
        0.085em 0 0 rgb(0, 0, 255, .75);
        }
    99% {
        text-shadow: 
        0.064em 0 0 rgb(255, 0, 0, .75),
        -0.015em -0.025em 0 rgb(0, 255, 0, .75),
        0.085em 0 0 rgb(0, 0, 255, .75);
        }
    100% {
        text-shadow: 
        0.05em 0 0 rgb(255, 0, 0, .75),
        -0.035em 0.03em 0 rgb(0, 255, 0, .75),
        -0.055em 0 0 rgb(0, 0, 255, .75);
        }
}